**/.env
*.env
**.env

database/data




start_server.sh
**/.DS_Store
node_modules
backend/venv
backend/vectors
backend/index
database.ini
config.js
citations.csv
citation_percent.csv
articles.csv
citations.pkl
citation_context.pkl
*.pkl
*.pyc
*.gzip

out_docker
*.prof
*.bak

**/errors
**/tmp
misc/postgresql.conf.sample
database/postgres

**/citationdb-data
.env
database/postgres
config/session.key
