start_server.sh
**/.DS_Store
node_modules
backend/venv
backend/vectors
backend/index
database.ini
config.js
citations.csv
citation_percent.csv
articles.csv
citations.pkl
citation_context.pkl
*.pkl
*.pyc
*.gzip

out_docker
*.prof
*.bak

**/tmp
misc/postgresql.conf.sample
