**/.env
*.env
**.env

database/data

misc/


data_import/errors
data_import/errors_initial_import

start_server.sh
**/.DS_Store
node_modules
backend/venv
backend/vectors
backend/index
database.ini
config.js
citations.csv
citation_percent.csv
articles.csv
citations.pkl
citation_context.pkl
*.out
*.pkl
*.pyc
*.gzip
dump.txt
out_docker
*.prof
*.bak
*.model
**/errors
**/tmp
google-word2vec.bin
misc/postgresql.conf.sample
database/postgres

**/citationdb-data
.env
database/postgres
config/session.key
sockets/**
data_import/errors**
data_import/*.log
data_import/database-import.log
*.npy
tools/bin
tools/include
tools/lib