/* body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 700px;
  margin-top: 10px;
} */

text { pointer-events: none; }

#sunburst-container {
  position: fixed;
  top: 72px;
  left: 0px;
  width: 100px;
  height:100%;
  overflow: scroll;
  background-color: white;
  z-index: 6;
}

#window-divider {
  position: fixed;
  top: 0px;
  width: 15px;
  height: 100%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  cursor: pointer;
  z-index: 7;
  background-color: lightgray;
  box-shadow: 5px 5px 10px lightgray;
}

#window-divider ul {
  padding: 0;
  margin-top: 100px;
  color: gray;
}

#window-divider ul li {
  display: inline-block;
  padding: 0;
}

#sunburst {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
  margin-top: 15px;
  position: fixed;
  z-index: 11;
  pointer-events: none;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
  margin: 0 auto;
  width: auto;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 430px;
  left: 425px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
  pointer-events: none;
}

#percentage {
  font-size: 2.5em;
}

.bite-clone {
  pointer-events: none;
  opacity: 1 !important;
}

.table-header{
  background-color: #ececec;
  border: 2px solid #8c8e91;
}